# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
RewriteBase /

# DO NOT REMOVE THIS LINE AND THE LINES BELOW HOTLINKID:yQyRymyPyW
RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?ciem.com.ve/.*$      [NC]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule .*\.(txt|html|htm|php|swf)$ https://www.ciem.com.ve [R,NC]
RewriteRule ^(.*)$ $1.php
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE yQyRymyPyW:HOTLINKID


